[Unit]
Description=Nordscan Servers

[Service]
User=nordlo
#Environment="LOG_LEVEL=DEBUG"
Environment="LOG_FILE=/var/log/nordscan/nordscan-servers.log"
ExecStart=/opt/nordscan/.env/bin/python /opt/nordscan/src/nordscan.py --config /home/nordlo/.nordscan/config_servers.yaml

[Install]
WantedBy=multi-user.target
